.header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 30px auto;
}

.header__menu {
    display: flex;
}
.header__menu-link {
    margin-left: 12px;
}
.header__menu-link:first-child {
    margin-left: 0;
}
.header__logo a, .header__menu-link {
    color: var(--main-clr-hov);
}
.header__logo a:hover , .header__menu-link:hover {
    color: var(--text-light-clr);
}
.header__logo a.active, .header__menu-link.active {
    color: var(--text-light-clr);
}

.footer {
    margin: 50px auto 20px auto;
}
.footer .footer__content, .footer .footer__content a{
    font-size: 14px;
    color: var(--link-clr);
}
.footer .footer__content:hover, .footer .footer__content:hover a{
    color: var(--text-light-clr);
}

#my_foto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}
#my_foto img {
    width: 32%;
    margin-bottom: 12px;
    transition: 200ms;
    z-index: 1;
}
#my_foto img:hover {
    transform: scale(1.7);
    z-index: 2;
    transition: 200ms;
}
.listing section {  
    width: calc(100% + 16px);
    position: relative;
    left: -16px;
    border-radius: 16px;
    transition: 300ms;
}
.listing section:hover {
    background-color: #fafafa;
    transition: 300ms;
}
.listing section a {  
    display: block;
    padding: 16px;
    border-radius: 16px;
}
.listing.works section {
    width: 100%;
    left: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #fafafa;
    margin-bottom: 20px;
}
.listing.works section:last-child {
    margin-bottom: 0;
}
.listing.works section > a > img {
    display: block;
    margin: 0 auto;
    max-width: 640px;
    max-height: 360px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    top: -16px;
    left: -16px;
}
.listing__header-box {
    display: flex;
    justify-content: space-between;
}
.listing__header-box h2 {
    font-size: 1rem;
    font-weight: 600;
}
.listing__header-box time, .listing__header-box span {
    top: 2px;
    margin-left: 12px;
    font-family: 'IBMPlexMono', 'NunitoSans', sans-serif;
    font-size: 0.9rem;
}
.listing__header-box-work {
    display: block;
    margin-bottom: 5px;
}
.listing__h2-time {
    display: flex;
}
.listing__header-box-work h2 {
    margin-bottom: 0;
}
.listing__header-box-work time, .listing__header-box-work span {
    margin-left: 0;
    margin-bottom: 10px;
}
.listing__wrapper-short-description {

}
.listing__time-work {
    margin-top: 15px;
}
.post h2 {
    margin-top: 32px;
    margin-bottom: 20px;
}
.copy-button {
    padding: 0;
    height: 20px;
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
    opacity: 0;
}
.copy-button:hover {
	background-color: #fff6c0;
    transition: 300ms;
}
.copy-button img {
    width: 15px !important;
}
.code-box:hover .copy-button {
    opacity: 1;
    transition: 300ms;
}
.toast-message {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: #fff6c0;
    padding: 5px;
    border: 1px solid #222;
    border-radius: 5px;
    z-index: 5;
    opacity: 0;
    animation: fade-in-out 1s ease-in-out;
}
  
@keyframes fade-in-out {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}